.text {
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-align: justify;
    color: #000000;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 100px;
}

.color {
    color: deepskyblue;
    text-decoration: none;
}