extends layout

block content
    h2.page-header Form
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
    form(method='post', action='/users/form')
        .form-group
         .form-row
          .col-md-6
            label Name
            input.form-control(name='name1', type='text', placeholder='Enter Name')
          .col-md-6
            label Surname
            input.form-control(name='surname', type='text', placeholder='Enter Surname')
        .form-group
            label Email
            input.form-control(name='email1', type='email', placeholder='Enter Email')
        .form-group
            .form-row
                .col-md-6
                    label City
                    input.form-control(name='city', type='text', placeholder='Enter City')
                .col-md-6
                    label State
                    input.form-control(name='state', type='text', placeholder='Enter State')


        .form-group
            label University
            input.form-control(name='university', type='text', placeholder='Enter University')
        .form-group
            label Position
            input.form-control(name='position', type='text', placeholder='Enter Position')
        .form-group
            label About you
            textarea.form-control(name='textarea', placeholder='Enter information about you...',rows='3')
        input.btn.btn-primary(type='submit', name='submit',value='Register')

       // .form-group
       //     input.form-check-input(type='checkbox',name='agreement')
       //     label.form  Agree to terms and conditions
