extends layout

block content
  h2.page-header Main
  p Choose options
  if errors
    each error, i in errors
      div.alert.alert-danger #{error.msg}
  form(method='post', action='/')
    .form-group
      a.btn.btn-primary(href='/users/form', role='button') Form
    .form-group
      a.btn.btn-primary(href='/users/search', role='button') Search
    .form-group
      a.btn.btn-primary(href='/users/delete', role='button') Delete

