.text {
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-align: justify;
    color: #000000;
}
.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: "." "." ".";
}